@font-face{
    font-family: 'gotham';
    src: url(./font/Gotham-Font/GothamLight.ttf);
    unicode-range: U+0030-0039,U+0041-005A,U+0061-007A

}

* {
    box-sizing: border-box;
    font-family: 'gotham';
}


.menu {
  position: relative;
  background-color: antiquewhite;
  float: left;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 100px);
  grid-template-rows: repeat(2, 100px);
  gap: 40px;
  justify-content:space-evenly;
  padding: 10px;
}

.menu a {
  background-color: #e5e5e5;
  padding: 8px;
  display: block;
  width: 100px;
  height: 100px;
  color: black;

}

.menu a img {
  position: relative;
  right: 10%;
  bottom: 10%;
  width: 100px;
  height: 100px;
  object-fit: cover; /* Ensure the image covers the entire area */
}

.main {
  width: 60%;
  padding: 0 20px;
  text-align: center;
}

.right {
  color: rgb(103, 103, 103);
  float: left;
  width: 20%;
  padding: 13px;
  margin-top: 1px;
  text-align: center;
  font-size: 13px;
  line-height: 0.6;
}

.copyrights{
    bottom: 0;
    padding: 15px;
    background-color:#e5e5e5;
    text-align:center;
    font-size: 14px;
    margin-top:3px;
    line-height: 25px;
    font: 'gotham';
    height: 70px;
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
  }
}