@font-face{
    font-family: 'gotham';
    src: url(./font/Gotham-Font/GothamLight.ttf);
}

@font-face{
  font-family: 'dongle';
  src: url(./font/TAEBAEK\ milkyway.ttf);
}

@font-face{
  font-family: 'tae';
  src: url(./font/TAEBAEK\ milkyway.ttf);
}

* {
    box-sizing: border-box;   
}


body{
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
}

.title-header {
  text-align:center;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.title-header h2 {
  font-size: 24px;
  font-family: 'gotham';
  color:rgb(0, 0, 0);
  line-height: 20px;
  margin: 0;
  padding: 20px 0 6px;
}

.service{
  font-size: 30px;
  margin-top: 1px;
  text-align: center;
  font-family: 'tae';
  background-color: none;
  line-height: 60px;
  margin-bottom: 30px;
  border-bottom: 1px solid black;
}



.menu {
  float: left;
  text-align: center;
  justify-content:center;
  font-family: 'tae';
  padding: 20px;
  font-size: 30px;
  overflow: hidden;
  height: 100%;
}


.menu a {
  display: block;
  color: black;
  border-radius: 0;
  margin-bottom:20px;
  padding: 100px;
}

.game {
  position: relative; 
  cursor: pointer;
  height: 200px;
  border: 1px solid black;
}

.game::before {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/IMG_1696.PNG) ;
  background-size: 100%;
  opacity: 0.8;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.5);
  z-index: 999;
  word-break: keep-all;
  font-family: 'dongle';
  font-size: 18px;  
}

.popup1 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(18, 18, 18, 0.5);
  z-index: 999;
  word-break: keep-all;
  font-family: 'dongle';
  font-size: 18px;  
}

.popup2 {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  word-break: keep-all;
  font-family: 'dongle';
  font-size: 16px;
}

.popup-content {
  background-color: rgb(249, 249, 249);
  border: 1px solid black;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  line-height: 40px;
  font-size: 20px;
  height: 80%;
  width: 95%;
  overflow: auto;
}

.popup-meal {
  background-color: rgb(249, 249, 249);
  border: 1px solid black;
  height: 80%;
  width: 95%;
  overflow: auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  line-height: 40px;
  font-size: 20px;
}


.popup-sports {
  background-color: rgb(249, 249, 249);
  border: 1px solid black;
  height: 80%;
  width: 95%;
  overflow: auto;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  line-height: 40px;
  font-size: 20px;
}



.close {
  position: relative;
  right: 0%;
  cursor: pointer;
  font-size: 50px;

}

.warning{
  position: relative;
  text-align: center;
  border-bottom: 1px solid black;
}


.sports {
  position: relative; 
  display: inline-block;
  line-height: 30vh;
  font-size: 40px;
  height: 200px;
  border: 1px solid black;
}

.sports::before {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/sports1.jpg) ;
  background-size: 100%;
  opacity: 0.8;
}


.meal {
  position: relative; 
  display: inline-block;
  font-size: 40px;
  line-height: 30vh;
  border: 1px solid black;

}

.meal::before {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./img/food.jpg) ;
  background-size: 100%;
  opacity: 0.8;
}

.prepared{
  bottom: 30px;
  font-size: 20px;
  background-color: #c0c0c0;
  border: 1px solid black;

}



.main {
  position: relative;
  width: 60%;
  padding: 0 20px;
  text-align: center;
  word-break: keep-all;
  line-height: 40px;
  font-family: 'tae';
  font-size: 24px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}


.main p{
  text-align: left;
  color: rgb(0, 0, 0);
  margin-top: 0;
}

.click{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  font-size: 14px;
  margin-bottom: 0;
}

.click > * {
  border: 1px solid black;
}

.info2{
  position: relative;
  right: 15px;
  display: none;
  text-align: left;
  margin-top: -20px;
}

.info3{
  position: relative;
  right: 15px;
  display: none;
  text-align: left;
  margin-top: -20px;

}
.info4{
  display: none;
}


.line2 {
  border-top: 3px solid #444444;
  margin: 10px auto;
  width: 100%;        
  margin-bottom: 30px;
}


.right {
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 1px;
  text-align: left;
  font-size: 12px;
  line-height: 0.6;
  font-family: 'dongle';
  border-top: 1px solid black;
}


.copyrights{
    bottom: 0;
    color: #444444;
    padding: 15px;
    text-align:left;
    font-size: 14px;
    margin-top:3px;
    line-height: 23px;
    height: 100px;
    font-family: 'gotham';
    justify-content: left;
}

.copyrights a{
  font-family: 'tae';
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
    overflow-x: hidden;
  }
}

.list{
  color: rgb(0, 0, 0);
}

.gg{
  position: relative;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  margin-bottom: 50px;
  text-decoration: underline;
  text-decoration-thickness: 1px; /* 밑줄 두께 설정 */
  text-underline-offset: 20px; /* 밑줄 위치 설정 */
}

.gg1{
  position: relative;
  color: rgb(100, 100, 100);
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.yn{
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center; /* 수평 가운데 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.button, .button1{
  position: relative;
  width: 100px;
  height: 40px;
  color: rgb(0, 0, 0);
  font-size: 18px;
  line-height: 40px;
  font-family: 'dongle';
  border: 1px solid black;
  /* box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.9); */
  text-align: center;
}

.button1{
  left: 30%;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.ask{
  bottom: 0;
  color: #444444;
  padding: 15px;
  text-align:left;
  font-size: 14px;
  margin-top:3px;
  line-height: 23px;
  font-family: 'tae';
  justify-content: left;
}

.ask a{
  font-size: 14pt;
}
