
@font-face{
    font-family: 'gotham';
    src: url(./font/Gotham-Font/GothamLight.ttf);
}

@font-face{
  font-family: 'dongle';
  src: url(./font/TAEBAEK\ milkyway.ttf);
}

@font-face{
  font-family: 'tae';
  src: url(./font/TAEBAEK\ milkyway.ttf);
}

* {
    box-sizing: border-box;   
}


body{
  background-color: #ffffff;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.title-header {
  text-align:center;
  width: 100%;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid black;
}

.title-header h2 {
  font-size: 24px;
  font-family: 'gotham';
  color:rgb(0, 0, 0);
  line-height: 20px;
  margin: 0;
  padding: 20px 0 6px;
}

.reservation{
  text-align: center;
  font-family: 'tae';
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.carousel-container {
  height: 200px;
  position: relative;
  width: 100%; /* Set the width of the carousel */
  overflow-x: scroll; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Hide vertical overflow */
  white-space: nowrap; /* Prevent slides from wrapping */
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  padding: 30px auto; /* Center the carousel horizontally */
  position: relative; /* Ensure relative positioning for absolute slides */
}

.carousel {
  display: inline-flex; /* Display slides in a row */
  width: max-content; /* Allow slides to stretch to their content */
}

.slide {
  flex: 0 0 100px; /* Set slide width to match container */
  margin-right: 10px; /* Optional: Adjust spacing between slides */
  transition: transform 0.5s ease; /* Smooth slide transition */
}

.slide img {
  width: 200px; /* Ensure images fill their containers */
  height: 200px;
}





.grid-container {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}


.grid-container > * {
  border: 1px solid black;
}

.grid-item {
  background-color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  font-family: 'tae';
  font-size: 16px;
  height: 60px;
  align-items: center;
  line-height: 16px;

}

.main {
  position: relative;
  text-align: center;
  word-break: keep-all;
  line-height: 30px;
  font-family: 'tae';
  font-size: 30px;
}

.main h2{
  color: rgb(0, 0, 0);
  font-family: 'tae';
  text-align: left;
  margin-left: 20px;
  margin-top: 20px;
}

.date{
  margin-bottom: 50px;
  position: relative;
  text-align: center;
  word-break: keep-all;
  font-family: 'tae';
}

.select{
  position:relative;
  /* background-color: #f0f0f0; */
  width: 350px;
  transform: translate(-50%,0);
  left: 50%;
  text-align: left;
  font-size: 16px;
  height: 20px;
  padding: 0;
  color: rgb(0, 0, 0);
}

.button{
  background-color: #ffffff;
  width: 100%;
  border: 0;
  height: 40px;
  text-align: left;
  font-size: 20px;
  font-family: 'tae';
  border: 1px solid #000000;
}

.popup-calendar {
  display: none;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 3px solid #ccc;
  padding: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.calendar {
  font-family: 'tae';
  border-collapse: collapse;
  width: 320px;
}

.calendar th, .calendar td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.calendar td {
  cursor: pointer;
  font-size: 13px;
  
}

.past {
  background-color: rgba(83, 83, 83, 0.4);
  color: rgb(2, 2, 2,0.3); 
}

.calendar .odd-day {
  background-color: rgba(83, 83, 83, 0.4);
  color: rgba(2, 2, 2, 0.3);
}


@media only screen and (max-width: 620px) {
/* For mobile phones: */
.menu, .main, .right {
  width: 100%;
  overflow-x: hidden;
}
}

.selected {
  background-color: rgb(176, 176, 255); /* 파란색으로 변경할 색상 */
  color: white; /* 선택된 날짜의 텍스트 색상을 흰색으로 지정 */
}
.today {
  background-color: rgb(255, 201, 201); 
  color: white;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.line2 {
  position: relative;
  border-top: 1px solid #000000;
  width: 200%;        
  margin-bottom: 30px;
  margin-left: 0;
  left: -10px;
}


.book {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 255, 255);
  padding: 30px;
  border: 2px solid #ccc;
  border-radius: 5px;
  width: 95%;
}

input[type="text"],
textarea {
  font-family: tae;
width: 95%;
padding: 10px;
margin-bottom: 10px;
box-sizing: border-box;
border: 1px solid #ccc;
border-radius: 5px;
font-size: 16px;
margin-top: 10px;
}

label{
  font-family: tae;
  margin-bottom: 10p;
}



.right {
  float: left;
  width: 20%;
  padding: 15px;
  margin-top: 1px;
  text-align: left;
  font-size: 12px;
  line-height: 0.6;
  font-family: 'dongle';
  border-top: 1px solid black;
}


.copyrights{
    bottom: 0;
    color: #444444;
    padding: 15px;
    text-align:left;
    font-size: 14px;
    margin-top:3px;
    line-height: 23px;
    height: 100px;
    font-family: 'gotham';
    justify-content: left;
}

.copyrights a{
  font-family: 'tae';
}

@media only screen and (max-width: 620px) {
  /* For mobile phones: */
  .menu, .main, .right {
    width: 100%;
    overflow-x: hidden;
  }
}

.list{
  color: rgb(0, 0, 0);
}

.gg{
  position: relative;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  margin-bottom: 50px;
  text-decoration: underline;
  text-decoration-thickness: 1px; /* 밑줄 두께 설정 */
  text-underline-offset: 20px; /* 밑줄 위치 설정 */
}

.gg1{
  position: relative;
  color: rgb(100, 100, 100);
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  cursor: pointer;
}

.ask{
  bottom: 0;
  color: #444444;
  padding: 15px;
  text-align:left;
  font-size: 14px;
  margin-top:3px;
  line-height: 23px;
  font-family: 'tae';
  justify-content: left;
}

.ask a{
  font-size: 14pt;
}

.res, .cancel{
  color: rgb(0, 0, 0);
  width: 80px;
  height: 40px;
  font-size: 16px;
  font-family: 'tae';
}

.sec{
  width: 100%;
  border-top: 1px solid black;
}

.review-section{
  display: grid;
  grid-template-columns: 1fr 3fr; 
  gap: 20px;
  margin: 10px 20px 20px 20px;
  padding-top: 20px;
  font-family: 'tae';
  overflow-wrap: break-word;
  word-break:keep-all;
}

.pp{
  text-align: center;
}

.re{
  margin-bottom: 20pt;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.p{
  font-size: 12pt;
  margin-bottom: 10px;
}
.r{
  font-size: 12pt;
  line-height: 16pt;
}

#successMessage{
  position: absolute;
  background-color: white;
  border: 1px solid black;
  height: 50px;
  width: 60%;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  text-align: center;
  font-family: 'tae';
  margin-top: 10px;
  font-size: 16pt;
  line-height: 32pt;
}